/* Reset some default browser styles */
body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e7aeebeb;
    color: #fff;
    text-align: center;
    padding: 0; /* Remove padding to take up the whole page */
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem 0; /* Add padding here for content spacing */
}

header h1 {
    font-size: 3rem; /* Increase font size */
    margin-bottom: 1rem; /* Adjust spacing */
}

.contact-icons li {
    display: inline-block; /* Display logos in a row */
    margin-right: 20px;
}

.contact-icons a img {
    width: 50px; /* Increase logo size */
    height: 50px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: #e7aeebeb;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #e7aeebeb;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e7aeebeb;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }
    
    header p {
        font-size: 1rem;
    }

    section {
        padding: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}
